{% load static%}


<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Menu</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style/css/style.css' %}">
</head>

<body>
<div class="wrapper">
    <header>
        <div class="All_header_menu">
            <div class="Logo">
                <h1>Barber</h1>
            </div>
            <div class="Top_menu">
                <ul>
                    <li><a href="..">Меню</a></li>
                    <li><a href="hair.html">Стрижки</a></li>
                    <li><a href="manic.html">Маникюр и Педикюр</a></li>
                    <li><a href="#footer_id">Контакты</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <img src="media/img/images.png" width="100%" height="450">
            <div class="my_image1">
                <img src="media/img/20220104_173211.jpg" width="350" height="350" >
            </div>
                <div class="my_image2">
                    <img src="media/img/IMG-5ec98afd4d5aa4f3.jpg" width="350" height="350" >
                </div>
                    <div class="my_image3">
                        <img src="media/img/IMG-15609583fcb853c5.jpg" width="350" height="350">
                    </div>
                        <div class="my_image4">
                            <img src="media/img/IMG-56dba3eaf15c681796bc1f44d672aa70-V.jpg" width="350" height="350">
                        </div>
                            <div class="my_image5">
                                <img src="media/img/IMG-655ad25ac108322bff0998ef42f03165-V.jpg" width="350" height="350">
                            </div>
                                <div class="my_image6">
                                    <img src="media/img/IMG-e88eace0cea57989788f49de6340a7c3-V.jpg" width="350" height="350">
                                </div>
    </main>
    <footer id="footer_id">
        <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <ul>
                        <li><a>Адрес: ул. Лынькова 15 город Минск</a></li>
                        <li><a>Время работы: 10:00-22:00, без выходных</a></li>
                        <li><a>Контакты: +375 25 777 14 27</a></li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
    </footer>
</div>
</body>
</html>