{% load static%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manic</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/style_manicur.css' %}">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="All_header_menu">
            <div class="Logo">
                <h1>Barber</h1>
            </div>
            <div class="Top_menu">
                <ul>
                    <li><a href="..">Меню</a></li>
                    <li><a href="../hair.html">Стрижки</a></li>
                    <li><a href="../manic.html">Маникюр и Педикюр</a></li>
                    <li><a href="#footer_id">Контакты</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <img src="media/img/images.png" width="100%" height="350">
        <table>
  <thead>
    <tr>
      <th colspan="2">МАНИКЮР И ПЕДИКЮР</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>СНЯТИЕ ДОЛГОВРЕМЕННОГО ПОКРЫТИЯ</td>
      <td>5 BYN</td>
    </tr>
    <tr>
      <td>ГИГИЕНИЧЕСКИЙ МАНИКЮР</td>
      <td>6 BYN</td>
    </tr>
  <tr>
      <td>ДОЛГОВРЕМЕННОЕ ПОКРЫТИЕ</td>
      <td>7 BYN</td>
    </tr>
  <tr>
      <td>МАНИКЮР МУЖСКОЙ</td>
      <td>8 BYN</td>
    </tr>
  <tr>
      <td>ПЕДИКЮР ГИГИЕНИЧЕСКИЙ</td>
      <td>9 BYN</td>
    </tr>
  <tr>
      <td>ПЕДИКЮР С ДОЛГОВРЕМЕННЫМ ПОКРЫТИЕМ</td>
      <td>10 BYN</td>
    </tr>
  <tr>
      <td>СПЕДИКЮР МУЖСКОЙ</td>
      <td>10 BYN</td>
    </tr>
  </tbody>
        </table>
    </main>
    <footer id="footer_id">
        <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <ul>
                        <li><a>Адрес: ул. Лынькова 15 город Минск</a></li>
                        <li><a>Время работы: 10:00-22:00, без выходных</a></li>
                        <li><a>Контакты: +375 25 777 14 27</a></li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
    </footer>
</div>
</body>
</html>